html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
    background-image: url('image.jpg');
    background-position: 50% 40%;
    width: 100%;
    position: absolute;
    top:0;
    
    z-index: -1;
    height: 100%;
  }
  a {color: white;}
  .wrapper {
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .form {
      z-index: 10;
      position: relative;
      display: flex;
      border:20px solid rgba(0,0,0,0.3);
      border-radius: 5px;
  }


 .form > *:not([type="date"]) {
    border-top:1px solid white;
    border-bottom:1px solid white;
  }
  .form input[type="submit"] {
    background:#FF5A5F;
    border-top: 1px solid #FF5A5F;
    border-bottom: 1px solid #FF5A5F;
    color:white;
}

.form > * {
    border:0;
    padding:10px;
    background:white;
    line-height:50px;
    font-size: 20px;
    border-radius:0;
    outline:0;
    border-right:1px solid rgba(0,0,0,0.2);
    -webkit-appearance:none;
}
.form > *:last-child {
    border-right: 0;
}
input[type="search"] {
    flex-basis: 500px;
}